@import "src/constants/colors.scss";

.MiniCalendar {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;

	height: 16rem;

	.miniCalendarDynamicBackground {
		position: absolute;

		height: 2rem;
		margin-top: 4rem;
		border-radius: 1rem;

		transition: all 0.2s ease;

		background-color: rgba($action, 0.4);
	}

	&,
	* {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}
