span.MiniDay {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 2rem;
	height: 2rem;
	cursor: pointer;

	span.dayNumber {
		font-size: 0.75rem;
		text-align: center;
		z-index: 1;
		transition: all 0.2s ease;
	}

	div.dayBackground {
		position: absolute;
		top: 0.125rem;
		left: 0.125rem;
		width: 1.75rem;
		height: 1.75rem;
		background-color: transparent;
		border-radius: 0.875rem;
		z-index: 0;
		transition: all 0.2s ease;
	}

	&.outCalendar {
		cursor: default !important;
	}

	&.gotTask.outMonth .dayBackground {
		opacity: 0.4;
	}
}
