@import "src/constants/colors.scss";

.Editor {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	position: absolute;

	box-sizing: border-box;
	padding: 1.5rem 1.5rem 1.5rem 1.5rem;
	filter: drop-shadow(4px 4px 2rem rgba(0, 0, 0, 0.2));

	transition: transform 0.5s ease, top 0.5s ease, left 0.5s ease, background-color 0.2s ease;

	border-radius: 3px;

	&.signed {
		padding: 0.5rem;
	}

	> .Input {
		margin-bottom: 22px;
		font-size: 1rem;
	}

	.intitule {
		order: 1;
	}

	.row.typesTarifs {
		display: flex;
		flex-direction: row;
		order: 2;
		margin-bottom: 1rem;

		z-index: 4;

		> * {
			flex: 1;

			&:first-child {
				margin-right: 1rem;
			}
		}
	}

	.dateTimePicker {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		order: 3;
		margin-bottom: 0.5rem;

		z-index: 3;

		& > * {
			flex: 1;
			width: 50%;

			&:not(:last-child) {
				margin-right: 1rem;
			}
		}
	}

	.TeacherSearchField {
		order: 4;
		z-index: 2;
		margin-top: 1rem;

		.List {
			max-height: 8rem;
		}
	}

	.selectPromoGroupUF {
		display: flex;
		flex-direction: row;
		margin-top: 1rem;
		order: 5;

		z-index: 1;

		.Button {
			text-align: left;
		}

		> * {
			flex: 1;

			&:not(:last-child) {
				margin-right: 1rem;
			}
		}

		.List {
			max-height: 10rem;
		}
	}

	.description {
		order: 6;
		margin-top: 1rem;
	}

	.deadlineCheckBox {
		order: 7;
		margin-bottom: 1rem;
		align-self: flex-end;
	}

	.editorButtons {
		order: 8;

		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-end;

		margin-left: auto;
		margin-top: auto;

		.Button {
			&.saveButton {
				margin-left: 1rem;

				&.disabled {
					background-color: $grey !important;
					color: $white;
				}
			}
		}
	}

	.signedButtons {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: stretch;
		margin: -0.5rem;

		.Button {
			flex: 1;
			text-align: center;
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			margin: 0.5rem;

			transition: all 0.1s ease;

			&.closeButton {
				border: none;

				&:hover,
				&:active {
					border: none;
					outline: none;
				}
			}

			&.cancelButton {
				background-color: $error;
				color: $white;

				&:hover {
					background-color: lighten($error, 10);
				}
			}

			&.reportButton {
				background-color: $action;
				color: $white;

				&:hover {
					background-color: lighten($action, 10);
				}
			}
		}
	}

	.editorIcons {
		position: absolute;
		top: 1rem;
		right: 1.5rem;

		z-index: 10;

		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;

		> * {
			cursor: pointer;
			font-size: 1rem;
			transition: all 0.2s ease;
			max-width: 0;
			max-height: 0;
			padding: 1rem 1.2rem;
			border: none !important;

			&:last-child {
				padding-right: 0.5rem;
			}
		}

		.quitIcon {
			transform: rotate(0deg);
			font-size: 1.3rem;

			// Puisque cet élément tourne, la hitbox peut buguer si elle n'est pas ronde
			border-radius: 50%;

			transform-origin: 1.2rem 1rem;

			&:hover {
				transform: rotate(-90deg);
			}
		}
	}

	.editorArrow {
		position: absolute;
		border-radius: 0 3px 0 3px;
		transform: rotate(45deg);
		width: 1.5rem;
		height: 1.5rem;
		transition: all 0.2s ease;
	}

	&.enter {
		opacity: 0;
	}

	&.enter-active,
	&.enter-done {
		opacity: 1;
		transition: opacity 0.2s ease, transform 0.5s ease, top 0.5s ease, left 0.5s ease, background-color 0.2s ease;
	}

	&.exit {
		opacity: 1;
	}

	&.exit-active,
	&.exit-done {
		opacity: 0;
		transition: opacity 0.2s ease, transform 0.5s ease, top 0.5s ease, left 0.5s ease, background-color 0.2s ease;
	}
}

.noAnimation .Editor {
	transition: transform 0s ease, top 0s ease, left 0s ease, background-color 0.2s ease !important;

	.editorArrow {
		transition: all 0s ease, background-color 0.5s ease !important;
	}
}

.darkTheme {
	.Editor {
		.editorButtons {
			order: 8;

			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: flex-end;

			margin-left: auto;
			margin-top: auto;

			.Button {
				&.saveButton {
					margin-left: 1rem;

					&.disabled {
						background-color: $darkgrey !important;
						color: $white;
					}
				}
			}
		}
	}
}
