.DaysNames {
    height: 4rem;
    display: flex;
    flex-direction: row;

    .DayName {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;

        height: 100%;
        text-transform: uppercase;
        cursor: default;

        flex: 1;

        transition: all 0.2s ease;

        span.weekday {
            font-family: montserrat, sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 0.6875rem;
            margin-bottom: 0.5rem;
        }

        span.numday {
            font-size: 1.625rem;
            font-family: montserrat, sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        span.borders {
            position: absolute;
            left: 0;
            bottom: 0;

            box-sizing: border-box;
            width: 100%;
            height: 2rem;

            border-left: solid 1px grey;
        }
    }
}
