.HoursBar {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;

    height: 100%;
    width: 100%;

    div {
        position: relative;
        left: -1rem;
        background-color: transparent;
        flex: 1;
        transition: border-top 0.2s ease;

        span {
            position: absolute;
            font-size: 0.75rem;
            top: -0.45rem;
            left: -1.5rem;
            width: 1rem;
            text-align: right;
            transition: color 0.2s ease;
        }
    }
}
