@import "../../constants/colors.scss";

.Superadmin {
    .actionButton {
        background-color: $action;
    }

    .removeButton {
        background-color: $error;
    }

    .addButton {
        background-color: $validation;
    }
}
