$lightblack: #2d2a2e;
$darkblack: #221f22;

// Blanc de base
$white: #fafafa;

// Rouge "identitaire"
$red: #e30613;

// Couleurs secondaire (pour le darktheme)
$darkblue: #003956;
$darkgrey: #667385;

// Couleurs tertiaires
$lightblue: #ced7d8;
$grey: #d3ccc6;
$beige: #f5e7d3;
$lightgrey: #eae7e1;

$action: #4EA8DE;
$validation: #43AA8B;
$error: #F94144;

$yellow: #FAC05E;
$orange: #EE6352;